.formulario{
   
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.user{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-midia{
    background-color: rgb(49, 204, 243);
    padding: 10px;
    border: 1px solid #9f0dc0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    width:20px;
    height: 20px;
}

.item-midia{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.foto-carlos{
    width: 200px;
    border-radius: 50px;
    border: 5px groove rgb(0, 204, 255);
}

li{
    list-style-type: none;
}
